<link rel="stylesheet" href="./styles/main.css">

<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div>
                <img class="back-button" src="./images/arrow.png" alt="arrow">
            </div>
            <div class="heading">
                <h2>Daftar Akun Kurir</h2>
            </div>

        
        </div>
      </div>
</header>

</body>

</html>